---
import { Icon } from "astro-icon/components";
// @ts-expect-error: Icon component from astro-icon requires additional configuration

const features = [
  {
    title: "AI-Powered Cloud Troubleshooting",
    description:
      "InfraLayer sifts through logs, metrics, and alerts to diagnose issues instantly, reducing downtime and frustration",
    icon: "fluent:cloud-flow-20-filled",
  },
  {
    title: "GitHub-Powered Code Insights",
    description:
      "Link your GitHub, and let InfraLayer analyze your code directly from ops repository to answer SRE and cloud-related questions",
    icon: "fluent:branch-fork-20-filled",
  },
  {
    title: "Automated Cost Optimization",
    description:
      "Detect unused resources, right-size cloud instances, and get cost-saving recommendations across cloud services",
    icon: "fluent:savings-20-filled",
  },
  {
    title: "Real-Time Slack Integration",
    description:
      "Chat with InfraLayer in Slack to troubleshoot infrastructure issues, analyze logs, and get AI-driven suggestions on the go",
    icon: "fluent:chat-bubbles-question-20-filled",
  },
  {
    title: "Terminal First",
    description:
      "InfraLayer is designed for developers, with a terminal-first approach to manage infrastructure faster through natural language commands",
    icon: "fluent:code-circle-20-filled",
  },
  {
    title: "Proactive Alerts & Recommendations",
    description:
      "InfraLayer continuously monitors your cloud usage, sending alerts and proactive suggestions to keep your infrastructure optimized",
    icon: "fluent:alert-20-filled",
  },
];
---

<div class="relative mx-auto max-w-5xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:text-center">
    <h2 class="text-base font-semibold leading-7 text-black">Features</h2>
    <p
      class="mt-2 text-3xl font-bold tracking-tight text-black"
      style="font-family: 'Young Serif';"
    >
      Smarter SRE, Faster Resolutions
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-900">
      InfraLayer automates infrastructure monitoring, cost optimization, and cloud
      troubleshooting so your team can focus on shipping great software.
    </p>
  </div>
  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
    <dl
      class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
    >
      {
        features.map((item) => (
          <div class="flex flex-col">
            <div class="mt-1 bg-blue-50 border shadow shadow-blue-100/50 border-blue-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-primary" name={item.icon} />
            </div>
            <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-black">
              {item.title}
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-900">
              <p class="flex-auto">{item.description}</p>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>
